nav ul {
    display: flex;
}

nav li {
    list-style: none;
    width: 200px;
    margin-right: 10px;
    padding: 10px 20px;
    text-align: center;
}

nav li:hover {
    background-color: lightgray;
}

nav li a {
    text-decoration: none;
    color: black;
}